<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kickstarter Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/build/main.css" />
  <link href='https://fonts.googleapis.com/css?family=Lato:900italic,400,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
</head>
<body data-kickstarter="<%= process.env.kickstarter_url %>">
  <div class="graph"></div>
  <h1 class="project-title">
    <span class="title"></span>
  </h1>
  <div class="stats">
    <div class="pct-complete">0%</div>
    <div class="money-raised">$0</div>
  </div>
  <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>